@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body{background-image: url(../img/fondo.png);background-size: 100vw;font-size: 16px;font-family: 'Raleway', sans-serif !important; color: #132A3F !important;}
#terms{background-color: white;}
h1{font-weight: 700 !important; font-size: 2.3em !important;}
h2{font-size: 1.75em !important; font-weight: 700 !important;}
h3{font-size: 1.125em !important; font-weight: 700 !important;}
p{font-size: 1em !important;font-weight: 400 !important;}
a{color: #132A3F !important; text-decoration: none !important;}
a:hover{ color: #BF3B3B !important; text-decoration: underline !important;}
.text-red{ color: #BF3B3B !important;}
@media (max-width: 576px) { h1{ font-size: 1.175em !important; } h2{ font-size: 1.125em !important; font-weight: 700 !important; } h3{ font-size: 1em !important; font-weight: 700 !important; } p{ font-size: 1em !important; font-weight: 400 !important; }}
@media (max-width: 769px) { body{ background-image: url(../img/fondo-ipad.png); background-size: 100vw; }}
